{% extends "layout.html"  %}
{% block body %}

  <!-- Page Header -->
  

  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg ')}} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin pannel</h1>
            <span class="subheading">Manage your site</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <h3>File uploader</h3>
<h3>Edit post</h3>

<table class="table">
    <thead>
      <tr>
        <th>slno</th>
        <th>title</th>
        <th>date</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
    </td>
    <tbody>
    
    {% for item in post %}
        <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        
        <th><a href="/edit/{{item[0]}}"><button class="btn btn-primary">edit</button> </a></th>
        <th><button class="btn btn-primary">delete</button></th>
        
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
  
  {% endblock %}

  
  