{% extends "layout.html"  %}
{% block body %}

  <!-- Page Header -->
  {% set x=slno%}
  {% set postname='post'+x %}


  {%set fname='img/'+params[postname]%}
    <header class="masthead" style="background-image: url(' {{url_for('static',filename=fname)}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
          
            
             
            <h1>{{post[1]}}</h1>
            <h5>{{post[3]}}</h5>
            <span class="meta">Posted by
             
              <p>{{post[4]}}</p></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          

          <a href="#">
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
          </a>
          {{post[2]}}
        </div>
      </div>
    </div>
  </article>

  {% endblock %}

  